{% extends "webapp/layout.html" %}

{% block content %}

    {% include 'webapp/includes/searcher.html' %}

    <div class="row">
        <div class="col-sm">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><a href="/repos">Name <span class="oi oi-arrow-top"></span></a></th>
                        <th scope="col"><a href="/repos?orderby=created">Creation date <span class="oi oi-arrow-bottom"></span></a></th>
                        <th scope="col"><a href="/repos?orderby=pushed">Last commit date <span class="oi oi-arrow-bottom"></span></a></th>
                    </tr>
                </thead>

                {% include 'webapp/includes/repos_rows.html' %}

              </tbody>
            </table>

        </div>
    </div>
{% endblock %}