{% extends "webapp/layout.html" %}

{% block content %}
<p>Welcome to the list</p>

    <p><a href="/repos">order by name</a> | <a href="/repos?orderby=created">order by created</a> <a href="/repos?orderby=created&direction=asc">x</a> | <a href="/repos?orderby=pushed">order by pushed</a></p>

    <form method="get" action="/repos/">
        {{ search_form.as_p }}
        <p><input type="button" name="search" value="Search" /></p>
    </form>

    {% for repo in repos %}
        <p>{{ repo.name }} , {{ repo.created_at|date:"d-m-Y" }} , {{ repo.pushed_at|date:"d-m-Y" }}</p>
    {% endfor %}
{% endblock %}