{% extends "webapp/layout.html" %}

{% block content %}

    {% include 'webapp/includes/searcher.html' %}

    <div class="row">
        <div class="col-sm">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><a href="/repos">Name</a></th>
                        <th scope="col"><a href="/repos?orderby=created">Creation date</a></th>
                        <th scope="col"><a href="/repos?orderby=pushed">Last commit date</a></th>
                    </tr>
                </thead>

                {% for repo in repos %}
                <tr>
                  <th scope="row">{{ repo.name }}</th>
                  <td>{{ repo.created_at|date:"d/m/Y" }}</td>
                  <td>{{ repo.pushed_at|date:"d/m/Y" }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>

        </div>
    </div>
{% endblock %}